:root {
    --r-globalnav-height: 48px;
}

.header-container {
    background-color: #333333;
    width: 100vw;
    height: var(--r-globalnav-height);
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
}