.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#ac-globalnav,
.ac-gn-content,
.ac-ln-content {
  box-sizing: content-box;
  margin: 0 auto;
  width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  padding-left: calc(22px + constant(safe-area-inset-left));
  padding-right: calc(22px + constant(safe-area-inset-right));
}

.section {
  padding: 190px 0;
}

.section-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.no-pad-top {
  padding-top: 0;
}

.section-headline {
  margin-bottom: 100px;
}

.section-eyebrow {
  color: #acacac;
}

.section-intro {
  padding-right: 48px;
}

.typography-section-headline {
  font-size: 72px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.typography-section-intro {
  font-size: 32px;
  line-height: 1.26667;
  font-weight: 600;
  letter-spacing: 0em;
  color: #888;
}

.section-retina .section-headline {
  margin-right: -32px;
}

.bold {
  font-weight: 700;
  color: #000;
}

.nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}